body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Couleur de fond de secours */
    transition: background 0.5s ease-in-out; /* Transition fluide pour le changement de fond */
}

.container {
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: #2980b9;
}

/* Media Query pour les écrans mobiles */
@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 20px;
    }

    h1 {
        font-size: 1.5em;
    }

    button {
        width: 100%;
        padding: 15px;
        font-size: 18px;
    }

    #shareButton {
        width: 100%;
        margin-top: 10px;
    }
}